# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Environment
.env
.env.local

# IDE
.idea/workspace.xml
.idea/shelf/
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.local.xml

# OS
.DS_Store
Thumbs.db

# Node (если не нужен)
node_modules/
credentials.txt
